@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 20% 100%;
    --foreground: 213 73% 6.1%;
    --card: 213 20% 95%;
    --card-foreground: 213 73% 6.1%;
    --popover: 213 20% 95%;
    --popover-foreground: 213 73% 6.1%;
    --primary: 213 60% 17%;
    --primary-foreground: 213 40% 98%;
    --secondary: 213 35% 95.9%;
    --secondary-foreground: 213 60% 11%;
    --muted: 213 35% 95.9%;
    --muted-foreground: 213 30% 46.1%;
    --accent: 213 73% 90%;
    --accent-foreground: 213 73% 11%;
    --destructive: 353 100% 60.2%;
    --destructive-foreground: 353 100% 98%;
    --border: 213 35% 91%;
    --input: 213 35% 91%;
    --ring: 213 73% 6.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 213 73% 6.1%;
    --foreground: 213 40% 98%;
    --card: 213 73% 6.1%;
    --card-foreground: 213 40% 98%;
    --popover: 213 73% 6.1%;
    --popover-foreground: 213 40% 98%;
    --primary: 213 40% 98%;
    --primary-foreground: 213 60% 11%;
    --secondary: 213 50% 16.9%;
    --secondary-foreground: 213 40% 98%;
    --muted: 213 50% 16.9%;
    --muted-foreground: 213 10.6% 64.9%;
    --accent: 213 73% 16.9%;
    --accent-foreground: 213 40% 98%;
    --destructive: 353 100% 30.6%;
    --destructive-foreground: 353 100% 98%;
    --border: 213 50% 16.9%;
    --input: 213 50% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
